.featured__posts {
  width: 100%;


  .header {
    font: 32px 'Oxygen';
    background: transparent;
    text-align: center;
    margin: 60px 0 10px;
  }



  .wrapper__thumbnail {
    display: flex;
  }


}
