

.featured__thumbnail {
  height: 280px;
  width: 100%;
  margin: 10px;
  border-radius: 3px;
  background-image: url("https://uploads-ssl.webflow.com/6182679b9ab00d5aacf43d18/6182679c9ab00d402ff43d64_photo-1443926818681-717d074a57af.jpg");
  background-size: cover;
  button {
    background: purple;

  }
}
