.home__wrapper {
  width: 100%;
  background: transparent;

  .home__container {
    background: #dd783f;
    width: 800px;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


}


