.hero__section {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.5) 0%, rgba(57, 45, 45, 0.4) 35%),
  15% 25% / cover no-repeat url("../../../../access/6182679c9ab00def26f43d52_photo-1439189741837-58720e8d82d5.jpg");
  margin: 0 auto;
  width: 100%;
  height: 300px;
  padding-top: 200px;

  .hero__content {
    width: 800px;
    height: 200px;
    margin: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero__heading {
      font: 50px bold;
      margin-bottom: 14px;
      color: white;

    }

    .hero__subheading {
      font: 18px normal;
      margin-bottom: 30px;
      color: white;

    }
  }


}


