@mixin btn ($width, $height, $font) {
  width: $width;
  height: $height;
  font: $font;

}

.MyBtn {
  @include btn(160px, 40px, 20px normal);
  background: #dd783f;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;

}
