.MyBtn {
  font: 20px normal;
  width: 160px;
  height: 40px;
  background: #dd783f;
  padding: 6px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;

}
